.locations_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #f6f6f6;
  border-radius: 25px;
  gap: 40px;
  padding: 30px 30px 30px 30px;
  margin-bottom: 20px;
}

article {
  position: relative;
}

article::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 5px;
  right: 0;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  transition: all 0.3s;
  pointer-events: none;
}
article:hover::after {
  opacity: 0;
  cursor: pointer;
}

article h2 {
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  bottom: 0;
  margin: 15px 10px;
  z-index: 1;
}

article img {
  width: 340px;
  height: 340px;
  object-fit: cover;
  border-radius: 10px;
}

/* RESPONSIVE */

@media (max-width: 796px) {
  article img {
    width: 335px;
    height: 255px;
  }
  .locations_container {
    background-color: white;
    gap: 10px;
  }
  article h2 {
    width: 40%;
    font-size: 18px;

    padding-top: 188px;
  }
}
