a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 16px;
}

.logo {
  width: auto;
  height: 47px;
}

ul {
  display: flex;
  list-style-type: none;
}
li {
  color: #ff6060;
  margin-top: 10px;
  margin-left: 55px;
  text-decoration: none;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}
