.navigation a {
  margin-left: 25px;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 16px;
}

.logo {
  width: auto;
  height: 47px;
}
.navlink li {
  color: #ff6060;
  margin-right: 10px;
  text-decoration: none;
}

.inactive {
  color: rgb(255, 96, 96, 1);

  text-decoration: none;
}

.active {
  color: rgba(255, 96, 96, 1);

  text-decoration: none;

  text-decoration: underline;
}
