.article__details {
  display: flex;
  justify-content: space-between;
}

.article_informations {
  display: flex;
  justify-content: space-between;
}
.article_informations h1, p {
color: #ff6060;
}

.article__info2 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}
figure img {
  display: flex;
  width: 64px;
  height: 64px;
  border-radius: 30px;
  object-fit: cover;
}

figcaption {
  margin-right: 11px;
}

figcaption p {
  text-align: end;
}

.Dropdownarticle {
  width: 45%;
  height: 100%;
  margin-bottom: 220px;
}

.dropdown__equipments li {
  color: #ff6060;
  list-style: none;
}

.dropdownArticle__p {
  padding: 20px 20px 53px 20px;
}

.number {
  left: 50%;
  top: 95%;
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  z-index: 1;
  color: rgb(255, 255, 255);
}

.namepicture {
  display: flex;
}

@media (max-width: 767px) {
  .article__details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  .Dropdownarticle {
    margin-bottom: 0;
    width: 100%;
  }

  .article_informations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .article__info2 {
    display: flex;
    flex-direction: row;
  }
}
