* {
  font-family: "Montserrat", sans-serif;
  width: auto;
  height: auto;
  margin: 0;
}

main {
  max-width: 1500px;
  margin: auto;
  width: 98%;
}

.content {
  max-width: 1500px;
  margin: auto;
  width: 98%;
 
}

@media (max-width: 796px) {
  main {
    margin: 0 20px;
    width: 94%;
  }

  .content {
    margin: 0 20px;
    width: 94%;
  }
}
