
* {
    font-family: 'Montserrat', sans-serif;
    width: auto;
    height: auto;
    margin: 0;

}



main{
    max-width: 1500px;
    margin: auto;
}

.content {
    max-width: 1500px;
    margin: auto;
}
