
* {
    font-family: 'Montserrat', sans-serif;
    width: auto;
    height: auto;
    margin: 0;

}



main{
    margin-left: 20px;
    margin-right: 20px;
}

.content {
    margin-left: 20px;
    margin-right: 20px;
}
